* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Russo One', sans-serif;;
}

section {
  background-color: #b7e7e9d8;
  height: 400px;
  width: 100vw;
}
.item {
  height: 200px;
  width: 200px;
  background: lightblue;
  border-radius: 5px;
  padding: 1rem;
  z-index: 2;
}

#section-a .item:nth-child(2) {
  z-index: 3;
  position: relative;
}

#section-a .item:nth-child(3) {
  background: darkcyan;
  position: relative;
  top: -100px;
  left: 100px;
  z-index: 2;
}
#section-b .item {
  position: fixed;
  top: 0;
  right: 0;
}
#section-c .item {
  position: absolute;
  right: 200px;
  bottom: 0;
}
#section-d .item {
  position: sticky;
  top: 100px;
}
